* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "roboto";
}
body {
  background-image: linear-gradient(to bottom, lightblue, white);
  background-repeat: no-repeat;
  width: 100vw;
  height: 90vh;
  padding: 20px;
}

.container {
  width: 100%;
  margin: 30px auto;
  padding: 1rem;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  background-color: #eee;
  border-radius: 10px;
}
h2 {
  color: #333;
  text-align: center;
  position: relative;
  margin-bottom: 10px;
  padding-bottom: 5px;
  font-size: 1.5rem;
}
h2::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  width: 50%;
  background-color: #667eea;
}

#generate-btn {
  outline: none;
  border: none;
  border-radius: 50px;
  color: white;
  margin-left: 1.5rem;
  padding: 0.8rem 1.5rem;
  margin-bottom: 2rem;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  background-image: linear-gradient(to right, #2196f3, #9c27b0);
}

#generate-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 10px rgba(102, 126, 234, 0.3);
}
#generate-btn:active {
  transform: translateY(2px);
}

#palette-container {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  justify-content: center;
}
.color-box {
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.2s;
}
.color-box:hover {
  transform: translateY(-5px);
  cursor: pointer;
}

.color {
  width: 130px;
  height: 130px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.color-info {
  padding: 0.7rem;
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
}

.hex-value {
  font-weight: 500;
  letter-spacing: 0.5px;
}

.copy-btn {
  color: #64748b;
  cursor: pointer;
  transition: color 0.2s;
}
.copy-btn:hover {
  color: #667eea;
}
